* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
    background: url("/images/pattern.png");
    width: 100%;
    font-family: 'fira_sansbook', sans-serif;
}

.wrapper {
	position: relative;
	min-width: 970px;
	min-height: 100%;
	width: 100%;
	/*height: auto!important;*/
	display: table;
	margin-bottom: 119px;
}


/*Шапка*/

.header {
	background: #eff3f7 url("/images/line-gradient.png") bottom center no-repeat;
	height: 119px;
	margin-bottom: 39px;
	width: 100%;
}

.container-header {
	width: 1200px;
	margin: auto;
	padding-top: 39px;
}

.logo, .socials, .social-item {
	display: inline-block;
	list-style-type: none;
}

.socials {
	float: right;
	margin: 0;
	font-size: 0px;
	margin-top: -4px;
	padding-left: 0px;
}

.social-item {
	margin-left: 23px;
}

.sprite-git {
	margin-right: -1px; 
}

.sprite-fb, .sprite-tw, .sprite-vk {
	margin-right: 1px;
}


/*Контент*/

.content {
	width: 960px;
	margin: auto;
}


/*Сайдбар*/

.sidebar, .content-area {
	display: inline-block;
}

.sidebar {
	width: 250px;
	margin-left: 1px;
}

.menu {
	list-style-type: none;
	margin: 0px;
	padding-left: 0px;
	background: #eff3f7;
	color: #959aa8;
	font-size: 21px;
	border-radius: 4px 4px 4px 4px;
	margin-bottom: 23px;
}

.li_menu {
	min-height: 73px;
	line-height: 73px;
	padding-left: 27px;
}

.pointer {
	cursor: pointer;
	text-decoration: none;
}

.pointer1 {
	color: #959aa8;
}
.pointer1:hover {
	color: #3ba8c0;
}

#a3 {
	color: white;
}

#about_me {
	font-size: 23px;
	border-radius: 4px 4px 0px 0px;	
}

#contact_me {
	background: #3ba8c0;
}

.li_menu_first {
	background: url("/images/line-menu.png") bottom center no-repeat;
}


.li_menu:last-child {
	border-radius: 0px 0px 4px 4px;
}

.contacts {
	list-style-type: none;
	margin: 0px;
	padding-left: 0px;
	font-size: 17px;
	border-radius: 4px 4px 4px 4px;
}

.li_contacts {
	height: 40px;
	line-height: 40px;
	padding-left: 40px;
	color: white;
	position: relative;
}

.move_text_first {
	position: absolute;
	top: 10%;
	color: white;
}

.move_text {
	position: absolute;
	bottom: 1%;
	color: white;
}

.move_text:hover {
	text-decoration: underline;
}

#contacts {
	background: #3ba8c0;
	font-size: 21px;
	border-radius: 4px 4px 0px 0px;	
	padding-left: 19px;
}

#email {
	background: #41b9d4;
}	

#email, #telephone, #skype {
	padding-right: 20px;
}

.sprite-email, .sprite-tel, .sprite-skype {
	display: inline-block;
}


#telephone {
	background: #48cbe8;
}

#skype {
	background: #51daf8;
	border-radius: 0px 0px 4px 4px;
}

.move {
	margin-right: 19px;
}

#skype img {
	width: 58%;
	margin-bottom: -7px;
	margin-left: 4px;
}

#skype div {
	margin-right: 8px;
}

.case_img {
	display: inline-block;
}


/*Article*/

.content-area {
	width: 650px;
	float: right;
}

.main-information {
	background-color: #eff3f7;
	border-radius: 5px;
	min-height: 840px;
	position: relative;
}

.blue_div {
	font-family: 'fira_sansbook', sans-serif;
	font-size: 27px;
	color: white;
	background-color: #48cbe8;
	border-radius: 5px 5px 0px 0px;
	height: 138px;
	border-bottom: 17px solid #67dffa;
	padding-top: 42px;
	padding-left: 60px;
	margin-bottom: 34px;
}


/*Форма*/

.contact_form {
	width: 427px;
	margin: auto auto auto 113px;
}

.first_form, .cap_pic, .cap_form {
	display: inline-block;
}

.first_form {
	margin-bottom: 6px;
}

.fieldset {
	border: 0px;
}

.fieldset1 {
	margin-bottom: -13px;
}

.fieldset3 {
	margin-top: -5px;
	margin-bottom: -4px;
}

.third_form {
	margin-top: -2px;
	vertical-align: middle;
	position: relative;
}

.cap_pic {
	width: 191px;
	height: 79px;
	margin-right: 19px;
	background: white;
	position: relative;
}

.cap {
	position: absolute;
	left: 7.5%;
	bottom: 17%;
}

.cap_form {
	position: absolute;
	top: 21px;
}

.label_text {
	font-family: 'fira_sanslight';
	font-size: 19px;
	color: #9ba0ad;
}

.additional {
	font-size: 17px;
	margin-bottom: 20px;
}

.label_p {
	margin: 0 auto;
}

.input, .cap_pic {
	border: 1px solid #48cbe8;
	border-radius: 3px;
}

.input {
	font-family: 'fira_sanslight';
	font-size: 13px;
	color: #48cbe8;
	padding-left: 7px;
	outline:none;
}

::-webkit-input-placeholder {
	color: #48cbe8;
}

::-moz-placeholder {
	color: #48cbe8;
}

:-moz-placeholder {
	color: #48cbe8;
}

:-ms-input-placeholder {
	color: #48cbe8;
}

.input1 {
	width: 192px;
	height: 41px;
}

#first_input {
	margin-right: 14px;
}

.textarea {
	padding-top: 9px;
	max-width: 402px;
	resize: none;
}

.input2 {
	margin-top: -1px;
	width: 402px;
	height: 183px;
	vertical-align: top;
}

.input3 {
	width: 190px;
	height: 33px;
}

.submit {
	float: left;
	background-color: #48cbe8;
	box-shadow: 0 3px 0px #3ba8c0;
	width: 137px;
}

.submit:hover {
	box-shadow: 0 3px 0px #48cbe8;
}

.clear {
	float: right;
	background-color: #849db5;
	box-shadow: 0 3px 0px #687b8f;
	margin-right: 1px;
}

.clear:hover {
	box-shadow: 0 3px 0px #849db5;
}

.button {
	font-family: 'fira_sansbook';
	font-size: 19px;
	color: white;
	border-radius: 5px;
	min-width: 125px;
	height: 30px;
	border: none;
	padding: auto 20px;
	outline: none;
}

.all_p {
	position: relative;
	white-space: nowrap;
}

/*"Проект успешно добавлен!"*/

.added {
	height: 104px;
	width: 362px;
	background-color: #eff3f7;
	box-shadow: 0 2px 12px 1px #b5b9ba;
	padding-top: 22px;
	position: absolute;
	top: 28%;
	left: 145px;
	display: none;
}

.added_green {
	height: 61px;
	width: 320px;
	background-color: #b8e1ce;
	font-family: 'fira_sansbook';
	font-size: 15px;
	margin: 0 auto;
	border: 1px solid #49bb7b;
	border-radius: 5px 5px 5px 5px;
}

.added_p {
	margin-top: 0;
	margin-bottom: 0;
	color: #49bb7b;
	margin-left: 8px;
	height: 32px;
	position: relative;
}

.added_span {
	font-size: 25px;
	padding-left: 1px;
}

.close2 {
	position: absolute;
	left: 295px;
	top: 4px;
	cursor: pointer;
}

/*Тултипы*/

.tooltips {
	display: inline-block;
	position: absolute;
	background-color: #f97e76;
	font-family: 'fira_sansbook';
	font-size: 13px;
	color: white;
	padding-left: 14px;
	padding-right: 14px;
	height: 26px;
	padding-top: 2px;
	border-radius: 2px 2px 2px 2px;
}

.tooltip-left {
	right: 102%;
	top: 50%;
	transform: translateY(-14px);
}

.tooltip-left:after {
	content: "";
	position: absolute;
	border-left: 10px solid #f97e76;
    border-top: 10px solid rgba(255, 241, 190, 0);
    border-bottom: 10px solid rgba(255, 241, 190, 0);
    right: -6px;
    top: 3px;
}

.tooltip-right {
	left:104%;
	top: 50%;
	transform: translateY(-14px);
}

.tooltip-right:before {
	content: "";
	position: absolute;
	border-right: 10px solid #f97e76;
    border-top: 10px solid rgba(113, 101, 58, 0);
    border-bottom: 10px solid rgba(113, 101, 58, 0);
    left: -6px;
    top: 3px;


/*Футер*/

.footer {
	background: #eff3f7 url("/images/line-gradient.png") top center no-repeat;
	height: 80px;
	margin-top: -80px;
	width: 100%;
	font-family: 'fira_sanslight', sans-serif;
	font-size: 13px;
	/*min-width: 970px;*/
}

.container-footer {
	background: #eff3f7 url("/images/line-gradient.png") top center no-repeat;
	min-width: 1200px;
	height: 80px;
	/*margin: auto;
	width: 660px;*/
}

.lock_and_copyright {
	margin: auto;
	width: 900px;
	position: relative;
}

.lock {
	position: absolute;
	top: 26px;
	left: 2px;
}

.copyright {
	position: absolute;
	left: 255px;
	top: 31px;
}

.locked {
	display: block;
	height: 40px;
	background: url("/images/locked.png") no-repeat;
	padding-left: 24px;
}

.locked:hover {
	background: url("/images/unlocked.png") no-repeat;
}
