* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
    background: url(/images/pattern.png);
    width: 100%;
    font-family: 'fira_sansbook', sans-serif;
}

.wrapper {
	position: relative;
	min-width: 970px;
	min-height: 100%;
	width: 100%;
	display: table;
	margin-bottom: 93px;
}


/*Шапка*/

.header {
	background: #eff3f7 url("/images/line-gradient.png") bottom center no-repeat;
	height: 119px;
	margin-bottom: 39px;
	width: 100%;
}

.container-header {
	width: 1200px;
	margin: auto;
	padding-top: 39px;
}

.logo, .socials, .social-item {
	display: inline-block;
	list-style-type: none;
}

.socials {
	float: right;
	margin: 0;
	font-size: 0px;
	margin-top: -4px;
	padding-left: 0px;
}

.social-item {
	margin-left: 23px;
}

.sprite-git {
	margin-right: -1px; 
}

.sprite-fb, .sprite-tw, .sprite-vk {
	margin-right: 1px;
}


/*Контент*/

.content {
	width: 960px;
	margin: auto;
}


/*Сайдбар*/

.sidebar, .content-area {
	display: inline-block;
}

.sidebar {
	width: 250px;
	margin-left: 1px;
}

.menu {
	list-style-type: none;
	margin: 0px;
	padding-left: 0px;
	background: #eff3f7;
	color: #959aa8;
	font-size: 21px;
	border-radius: 4px 4px 4px 4px;
	margin-bottom: 23px;
}

.li_menu {
	min-height: 73px;
	line-height: 73px;
	padding-left: 27px;
}

.li_menu_first {
	background: url("/images/line-menu.png") bottom center no-repeat;
}

.pointer {
	cursor: pointer;
	text-decoration: none;
}

.pointer1 {
	color: #959aa8;
}
.pointer1:hover {
	color: #3ba8c0;
}

#a1 {
	color: white;
}

#about_me {
	background: #3ba8c0;
	font-size: 23px;
	border-radius: 4px 4px 0px 0px;	
}


.li_menu:last-child {
	border-radius: 0px 0px 4px 4px;
}

.contacts {
	list-style-type: none;
	margin: 0px;
	padding-left: 0px;
	font-size: 17px;
	border-radius: 4px 4px 4px 4px;
}

.li_contacts {
	height: 40px;
	line-height: 40px;
	padding-left: 40px;
	color: white;
	position: relative;
}

.move_text_first {
	position: absolute;
	top: 10%;
	color: white;
}

.move_text {
	position: absolute;
	bottom: 1%;
	color: white;
}

.move_text:hover {
	text-decoration: underline;
}

#contacts {
	background: #3ba8c0;
	font-size: 21px;
	border-radius: 4px 4px 0px 0px;	
	padding-left: 19px;
}

#email {
	background: #41b9d4;
}	

#email, #telephone, #skype {
	padding-right: 20px;
}

.sprite-email, .sprite-tel, .sprite-skype {
	display: inline-block;
}


#telephone {
	background: #48cbe8;
}

#skype {
	background: #51daf8;
	border-radius: 0px 0px 4px 4px;
}

.move {
	margin-right: 19px;
}

#skype img {
	width: 58%;
	margin-bottom: -7px;
	margin-left: 4px;
}

#skype div {
	margin-right: 8px;
}


/*Article*/

.content-area {
	width: 650px;
	float: right;
}

.main-information, .work-experience, .education {
	background-color: #eff3f7;
	border-radius: 5px;
	padding-top: 13px;
	margin-bottom: 26px;
}

.main-information {
	min-height: 320px;
}

.basic_info {
	font-size: 27px;
	color: #3ba8c0;
	width: auto;
	margin-bottom: -15px;
}

.border_line {
	display: inline-block;
	border-bottom: 2px solid #3ba8c0;
	margin-top: 0px;
	padding-left: 22px;
	padding-bottom: 12px;
	padding-right: 24px;
}

.exp {
	padding-top: 1px;
	margin-bottom: -22px;
}

.line3 {
	margin-bottom: 4px;
}

.photo {
	margin-left: 56px;
	margin-right: 19px;
	margin-top: 23px;
	border-radius: 75px;
	width: 150px;
	height: 150px;
	border: 3px solid #3ba8c0;
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
	position: relative;
}

.me {
	position: absolute;
	left: -1px;
	top: -2px;
}

.information_list {
	margin-top: -4px;
	width: 378px;
	display: inline-block;
}

.text {
	color: #4a545d;
	line-height: 17.5px;
	margin-bottom: 14px;
	font-family: "fira_sansbook", sans-serif;
	font-size: 15px;
}

.bold {
	font-family: "fira_sansmedium", sans-serif;
	font-size: 17px;
	color: #4a545d;
	white-space: pre;
}

.skills {
	color: white;
	font-family: "ProximaNovaCond-Semibold", sans-serif;
	font-size: 14px;
	margin-right: 3.5px;
	display: inline-block;
	margin-bottom: 6px;
}

.inl_bl {
	text-align: center;
	border-radius: 3px;
	padding: 2px 14.5px 1px 14.5px;
	background: #2e8ca2;
	box-shadow: inset 0px 9px 0px #3ba8c0;
}

.text_div {
	margin-top: -2px;
}

.first_bold {
	margin-right:9px;
	width: 160px;
	display: inline-block;
	vertical-align: top;
}

.skills_list {
	vertical-align: top;
	width: 200px;
	display: inline-block;
}

.inline {
	margin-top: 4px;
	display: inline-block;
	padding-left: 0px
}

.work-experience {
	min-height: 235px;
}

.work-list {
	width: 550px;
	margin-left: 58px;
	margin-top: -7px;
	min-height: 100%;
	position: relative;
}

.case_img, .text_area {
	display: inline-block;
}

.case_pic {
	position: absolute;
	top: 10%;
	margin-top: -3px;
}

.text_area1 {
	margin-left: 68px;
	margin-bottom: -10px;
	width: 467px;
	vertical-align: middle;
}

.first_string {
	font-family: "fira_sansbook", sans-serif;
	font-size: 17px;
	color: #4a545d;
	margin-bottom: -21px;
}

.second_string {
	font-family: "fira_sanslight", sans-serif;
	font-size: 15px;
	color: #4a545d;
}

.education {
	min-height: 233px;
}

.edu {
	margin-bottom: -25px;
}

.text_area2 {
	margin-left: 68px;
	margin-bottom: -11px;
	width: 467px;
	padding-top: 0px;
}

.work-list2 {
	padding-top: 18px;
	position: relative;
}

.hat_pic {
	position: absolute;
	margin-top: -10px;
	top: 50%;
}

.list_pic {
	position: absolute;
	top:15%;
}

.edu_first_string {
	margin-bottom: -19px;
	margin-top: auto;
}


/*Футер*/

.footer {
	background: #eff3f7 url("/images/line-gradient.png") top center no-repeat;
	height: 80px;
	margin-top: -80px;
	width: 100%;
	font-family: 'fira_sanslight', sans-serif;
	font-size: 13px;
	/*min-width: 970px;*/
}

.container-footer {
	background: #eff3f7 url("/images/line-gradient.png") top center no-repeat;
	min-width: 1200px;
	height: 80px;
	/*margin: auto;
	width: 660px;*/
}

.lock_and_copyright {
	margin: auto;
	width: 900px;
	position: relative;
}

.lock {
	position: absolute;
	top: 26px;
	left: 2px;
}

.copyright {
	position: absolute;
	left: 255px;
	top: 31px;
}

.locked {
	display: block;
	height: 40px;
	background: url("/images/locked.png") no-repeat;
	padding-left: 24px;
}

.locked:hover {
	background: url("/images/unlocked.png") no-repeat;
}
