* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
    background: url(/images/pattern.png);
    width: 100%;
    font-family: 'fira_sansbook', sans-serif;
}

.wrapper {
	position: relative;
	min-width: 970px;
	min-height: 100%;
	width: 100%;
	/*height: auto!important;*/
	display: table;
	margin-bottom: 93px;
}


/*Шапка*/

.header {
	background: #eff3f7 url("/images/line-gradient.png") bottom center no-repeat;
	height: 119px;
	margin-bottom: 39px;
	width: 100%;
}

.container-header {
	width: 1200px;
	margin: auto;
	padding-top: 39px;
}

.logo, .socials, .social-item {
	display: inline-block;
	list-style-type: none;
}

.socials {
	float: right;
	margin: 0;
	font-size: 0px;
	margin-top: -4px;
	padding-left: 0px;
}

.social-item {
	margin-left: 23px;
}

.sprite-git {
	margin-right: -1px; 
}

.sprite-fb, .sprite-tw, .sprite-vk {
	margin-right: 1px;
}


/*Контент*/

.content {
	width: 960px;
	margin: auto;
}


/*Сайдбар*/

.sidebar, .content-area {
	display: inline-block;
}

.sidebar {
	width: 250px;
	margin-left: 1px;
}

.menu {
	list-style-type: none;
	margin: 0px;
	padding-left: 0px;
	background: #eff3f7;
	color: #959aa8;
	font-size: 21px;
	border-radius: 4px 4px 4px 4px;
	margin-bottom: 23px;
}

.li_menu {
	min-height: 73px;
	line-height: 73px;
	padding-left: 27px;
}

.pointer {
	cursor: pointer;
	text-decoration: none;
	width: 
}

.pointer1 {
	color: #959aa8;
}
.pointer1:hover {
	color: #3ba8c0;
}

#a2 {
	color: white;
}

#about_me {
	font-size: 23px;
	border-radius: 4px 4px 0px 0px;	
}

#my_works {
	background: #3ba8c0;
}


.li_menu:last-child {
	border-radius: 0px 0px 4px 4px;
}

.contacts {
	list-style-type: none;
	margin: 0px;
	padding-left: 0px;
	font-size: 17px;
	border-radius: 4px 4px 4px 4px;
}

.li_contacts {
	height: 40px;
	line-height: 40px;
	padding-left: 40px;
	color: white;
	position: relative;
}

.move_text_first {
	position: absolute;
	top: 10%;
	color: white;
}

.move_text {
	position: absolute;
	bottom: 1%;
	color: white;
}

.move_text:hover {
	text-decoration: underline;
}

#contacts {
	background: #3ba8c0;
	font-size: 21px;
	border-radius: 4px 4px 0px 0px;	
	padding-left: 19px;
}

#email {
	background: #41b9d4;
}	

#email, #telephone, #skype {
	padding-right: 20px;
}

.sprite-email, .sprite-tel, .sprite-skype {
	display: inline-block;
}


#telephone {
	background: #48cbe8;
}

#skype {
	background: #51daf8;
	border-radius: 0px 0px 4px 4px;
}

.move {
	margin-right: 19px;
}

#skype img {
	width: 58%;
	margin-bottom: -7px;
	margin-left: 4px;
}

#skype div {
	margin-right: 8px;
}

.case_img {
	display: inline-block;
}


/*Article*/

.content-area {
	width: 650px;
	float: right;
}

.main-information {
	background-color: #eff3f7;
	border-radius: 5px;
	padding-top: 13px;
	margin-bottom: 26px;
	min-height: 840px;
}

.basic_info {
	font-size: 27px;
	color: #3ba8c0;
	width: auto;
}

.border_line {
	display: inline-block;
	border-bottom: 2px solid #3ba8c0;
	margin-top: 0px;
	padding-left: 25px;
	padding-bottom: 12px;
	padding-right: 24px;
}

.container-works {
	padding-left: 8px;
}

.works {
	display: inline-block;
	margin-right: 13px;
	margin-left: 13px;
	vertical-align: top;
}

.pic, .dotted {
	width: 183px;
	height: 129px;
	border: 2px solid #3ba8c0;
	border-radius: 5px;
	overflow: hidden;
	cursor: pointer;
	position: relative;
}

.works_dotted {
	vertical-align: top;
}

.dotted {
	border-style: dotted;
	position: relative;
}

.dotted:hover {
	background-color: #d3f2fd;
	transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;;
}

#dotted {
	position: absolute;
	left: 22%;
	bottom: 27%;
}

.site_name {
	text-align: center;
	font-family: 'fira_sanslight_italic', sans-serif;
	font-size: 13px;
	color: #3ba8c0;
	margin-top: 6px;
	width: 183px;
}

.project_information {
	font-family: 'fira_sanslight', sans-serif;
	font-size: 15px;
	color: #606972;
	text-align: center;
	margin-top: 4px;
	width: 183px;
}

.preview {
	margin-top: -21px;
	margin-bottom: 39px;
}


/*Ховер*/

.hover_img {
	position: relative;
}

.project-img {
	position: absolute;
	left: -0.5px;
}

.pic .zoom-wrapper {
    position: absolute;
    width: 100%;
    top: 55px;
    text-align: center;
    transform: scale(0);
    -ms-transform: scale (0);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    -moz-transform: scale(0);
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
}

.pic:hover .zoom-wrapper {	
	transform: scale(1);
	-webkit-transform: scale(1);
}

.pic .zoom-link {
	font-family: 'fira_sansbook';
    font-size: 12px;
    border: 2px solid #eff3f7;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    padding: 0 4px;
}

.pic:hover .project-img{
	-moz-opacity: 0.4;
	opacity: 0.4;
	filter: alpha(opacity=40);
	transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;;
}

.pic:hover {
	background-color: #065984;
}


/*Футер*/

.footer {
	background: #eff3f7 url("/images/line-gradient.png") top center no-repeat;
	height: 80px;
	margin-top: -80px;
	width: 100%;
	font-family: 'fira_sanslight', sans-serif;
	font-size: 13px;
}

.container-footer {
	background: #eff3f7 url("/images/line-gradient.png") top center no-repeat;
	min-width: 1200px;
	height: 80px;
}

.lock_and_copyright {
	margin: auto;
	width: 900px;
	position: relative;
}

.lock {
	position: absolute;
	top: 26px;
	left: 2px;
}

.copyright {
	position: absolute;
	left: 255px;
	top: 31px;
}

.locked {
	display: block;
	height: 40px;
	background: url("/images/locked.png") no-repeat;
	padding-left: 24px;
}

.locked:hover {
	background: url("/images/unlocked.png") no-repeat;
}
