.sprite {
    background-image: url(/images/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-case {
    width: 40px;
    height: 50px;
    background-position: -9px 6px;
}

.sprite-email {
    width: 23px;
    height: 40px;
    background-position: -64px 1px;
}

.sprite-fb {
    width: 47px;
    height: 47px;
    background-position: -107px -10px;
}

.sprite-fb:hover {
    background-position: -174px -10px;
}

.sprite-git {
    width: 47px;
    height: 47px;
    background-position: -10px -77px;
}

.sprite-git:hover {
    background-position: -77px -77px;
}

.sprite-hat {
    width: 45px;
    height: 30px;
    background-position: -144px -77px;
}

.sprite-list {
    width: 49px;
    height: 45px;
    background-position: -138px -108px;
}

.sprite-locked {
    width: 20px;
    height: 32px;
    background-position: -190px -120px;
}

.sprite-skype {
    width: 32px;
    height: 32px;
    background-position: -10px -172px;
}

.sprite-tel {
    width: 25px;
    height: 30px;
    background-position: -59px -162px;
}

.sprite-tw {
    width: 47px;
    height: 47px;
    background-position: -101px -172px;
}

.sprite-tw:hover {
    background-position: -168px -172px;
}

.sprite-unlocked {
    width: 20px;
    height: 32px;
    background-position: -241px -10px;
}

.sprite-vk {
    width: 47px;
    height: 47px;
    background-position: -281px -10px;
}

.sprite-vk:hover {
    background-position: -230px -77px;
}
